:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 15px 35px;
  position: relative;

  div.container {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 35px;
  }
}
